* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-purple {
  background-color: #8e44ad;
}

.cursor {
  cursor: pointer;
}
.carousel-indicators button {
  background-color: #8e44ad !important;
}
