* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-purple {
  background-color: #8e44ad;
}

.cursor {
  cursor: pointer;
}
.carousel-indicators button {
  background-color: #8e44ad !important;
}

@media only screen and (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
